/*pagina armada usando funciones sass*/
@mixin tarjeta($backgraund){
background-image: $backgraund;
height: 440px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 50px
}
.header__post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        color: $colo-principal;
        font-family: $letra-titulos;
        font-size: 55px;
        text-align: center;
    }
    h3{
        font-size: 33px;
        text-align: center
    }
}
.texto__post1{
@include tarjeta(radial-gradient( circle farthest-corner at 5.6% 54.5%,  rgba(47,71,79,1) 0%, rgba(159,188,198,1) 83.6% ));
h1{
    font-size: 35px;
    font-family: $letra-titulos;
    text-align: center;
}
p{
    font-size: 25px;
    font-family: $letras-texto;
}
}
.texto__post2{
@include tarjeta(radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% ));
h1{
    font-size: 35px;
    font-family: $letra-titulos;
}
p{
    font-size: 25px;
    font-family: $letras-texto;
}
}
.texto__post3{
    @extend .texto__post1;
    h1{
        font-size: 35px;
        font-family: $letra-titulos;
    }
    p{
        font-size: 25px;
        font-family: $letras-texto;
    }
}
.texto__post4{
@extend .texto__post2;
h1{
    font-size: 35px;
    font-family: $letra-titulos;
}
p{
    font-size: 25px;
    font-family: $letras-texto;
}
}
.img__post{
img{
    height: 440px;
    width: 550px;
    background-size: cover;
    border-radius: 50px;
}
}

//responsive 
@media screen and (max-width: 1200px){
.responsive{
    h1{
        font-size: 25px;
    }
    p{
        font-size: 20px;
    }
}
.header__post{
    h1{
font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
}
.img__post{
    img{
        height: 420px;
        width: 400px;
    }
}
}
@media screen and (max-width: 979px){
    .responsive{
        h1{
            font-size: 20px;
        }
        p{
            font-size: 17px;
        }
    }
    .header__post{
        h1{
    font-size: 40px;
        }
        h3{
            font-size: 20px;
        }
    }
    .img__post{
        img{
            height: 410px;
            width: 350px;
        }
    }
    }
@media screen and (max-width: 550px){
    .responsive{
        h1{
            font-size: 20px;
        }
        p{
            font-size: 17px;
        }
    }
    .header__post{
        h1{
    font-size: 40px;
        }
        h3{
            font-size: 20px;
        }
    }
    .img__post{
        img{
            height: 420px;
            width: 320px;
        }
    }
    }
    
    @media screen and (max-width: 439px){
        .responsive{
            h1{
                font-size: 18px;
            }
            p{
                font-size: 15px;
            }
        }
        .header__post{
            h1{
        font-size: 25px;
            }
            h3{
                font-size: 20px;
            }
        }
        .img__post{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 320px;
                width: 240px;
            }
        }
        }
